html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

div,
span {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    


}

.container {
    margin: 0 auto;
    padding: 0 15px;

    @media screen and (min-width: 480px) {
            width: 480px;
        }
    
        @media screen and (min-width: 768px) {
            width: 768px;
        }

                @media screen and (min-width: 1200px) {
                    width: 1200px;
                }
}



button {
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    border: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
    height: auto;
}