header {
    box-sizing: border-box;
    padding: 26px 0;
    border-bottom: 1px solid #EEEEEE;
    position: fixed;
    width: 100%;
    background-color: $background-color;
    top: 0;
    z-index: 100;
    display: inline-flex;


    .container {
        display: flex;

        align-items: center;
    }



    .backdrop-menu {
        display: flex;

        transition: opacity 250ms linear;

        width: 100%;
        opacity: 1;
        background: #FFFFFF;
        z-index: 85;


        @media screen and(min-width:768px) {
            justify-content: center;
            align-items: center;


        }

        @media screen and (max-width:768px) {
            position: absolute;
            top: 100%;
            left: 0;
            pointer-events: none;
            flex-direction: column;
            padding-top: 42px;
            padding-left: 40px;

            opacity: 0;
            transition: opacity 250ms linear;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

        }

    }

    .backdrop-menu.is-open {
        opacity: 1;
        top: 0;
        left: 0;

        transition: opacity 250ms linear;
        pointer-events: visible;
    }




}

.header-nav {

    z-index: 86;
    font-style: normal;
    letter-spacing: 0.02em;
    
        @media screen and (min-width:768px) {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            
        }
                
    @media screen and (max-width:768px) {
        font-size: 40px;
        line-height: 47px;
    }

    @media screen and(max-width:768px) {
        li:not(:last-child) {
            margin-bottom: 32px;
        }

        li:last-child {
            margin-bottom: 302px;
        }

    }

    @media screen and (min-width:768px) {
        display: flex;
    }

    &__studio {
        margin-right: 50px;
        color: $text-color;
        transition: color 250ms linear;
    }


    &__portfolio {
        margin-right: 50px;
        color: $text-color;
        transition: color 250ms linear;
    }

    &__contacts {
        margin-right: 0;
        color: $text-color;
        transition: color 250ms linear;
    }

    &__studio:hover,
    &__studio:focus,
    &__portfolio:hover,
    &__portfolio:focus,
    &__contacts:hover,
    &__contacts:focus {
        color: $button-color;
        fill: $button-color;
    }

    &--active {
        position: relative;
        color: $button-color;
    }

    @media screen and(min-width:768px) {
        &--active::after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 4px;
            color: $button-color;
            background-color: $button-color;
            left: 0;
            top: 48px;
            border-radius: 2px;
        }
    }

}

.header-info {
    z-index: 86;
    font-style: normal;
    letter-spacing: 0.02em;
    font-weight: 500;
    align-items: baseline;
    
    a{
        display: flex;
        align-items: center;
    }
    
    @media screen and (min-width:768px) {
            font-style: normal;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.02em;
            margin-left: auto;
        }
    
    @media screen and(min-width:1200px) {
        display: flex;
        font-size: 14px;
        line-height: 16px;
        margin-left: auto;
    }

    @media screen and(max-width:768px) {
        display: flex;
        flex-direction: column-reverse;

        li:not(:last-child) {
            margin-bottom: 64px;
        }

        li:last-child {
            margin-bottom: 32px;
        }
    }

    &__tel {

        color: $second-text;
        fill: $second-text;
        transition: color 250ms linear;

        @media screen and(max-width:768px) {
            font-size: 34px;
            line-height: 40px;
            color: $button-color;
        }
    }

    &__icon-smartphone {
        width: 10px;
        height: 16px;
        margin-right: 10px;

        @media screen and (max-width:768px) {
                width: 10px;
                height: 14px;
                margin-right: 0;
            }
    }

    &__mail {

        fill: $second-text;
        color: $second-text;
        transition: color 250ms linear;

        @media screen and(min-width:1200px) {
            margin-right: 30px;
        }
        @media screen and(max-width:768px){
            font-size: 24px;
            line-height: 28px;
        }
    }

    &__icon-envelope {
        width: 16px;
        height: 12px;
        margin-right: 10px;
        @media screen and (max-width:768px) {
                width: 14px;
                height: 10px;
            }
        
    }

    &__mail:hover,
    &__mail:focus,
    &__tel:hover,
    &__tel:focus {
        color: $button-color;
        fill: $button-color;
    }


    

    &__icon-envelope,
    &__icon-smartphone {
        @media screen and (max-width:768px) {
            display: none;
        }


    }
}




.menu-button {
    display: inline-flex;
    position: absolute;

    right: 0;
    z-index: 91;
    background-color: $background-color;

    &:hover,
    &:focus {
        fill: $button-color;
    }

    .icon-cross {
        display: none;

    }

    @media screen and (min-width:768px) {
        display: none;
    }
}

.menu-button.is-open {
    background-color: $background-color;

    .icon-cross {
        display: block;

    }

    .icon-menu {
        display: none;

    }

}

.header-link {
    display: inline-flex;
    margin-bottom: 48px;
    font-style: normal;

    a {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: $button-color;
    }

    span {
        margin: 0 10px;
    }

    @media screen and(min-width:768px) {
        display: none;
    }
}