.client-section {
    justify-content: center;
    padding: 94px 0;

    @media screen and (max-width:1200px){
        padding: 60px 0;
    }

    h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        @media screen and(max-width:1200px){
            font-size: 28px;
                line-height: 33px;
        }
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-color;
        text-align: center;
        margin-bottom: 50px;

        @media screen and(max-width:1200px){
            margin-bottom: 30px;
        }
    }

}

.client-card {
    display: flex;
    justify-content: center;

    @media screen and(max-width:1200px){
        display: flex;
        flex-wrap: wrap;

       
                
    }

    @media screen and(min-width:768px){
        li:nth-child(-n+2) {
                margin-right: 30px;
                margin-bottom: 30px;
            }
        li:nth-child(3n+1) {
                margin-right: 30px;
        
            }
        
            li:nth-child(3n+2) {
                margin-right: 30px;
        
            }
    }

    @media screen and (max-width:480px){
        li:not(:last-child){
            margin-bottom: 30px;
        }
    }

    @media screen and(max-width:768px){
        @media screen and(min-width:480px){
            li:nth-child(2n+1){
            margin-right: 30px;
        }
        li:nth-child(-n+4){
            margin-bottom: 30px;
        }
        }
        
    }

    li {
            display: flex;
            justify-content: center;
            @media screen and(min-width:1200px){
                 margin-right: 30px;
            }
           
        }

    li:last-child {
        margin-right: 0;
    }

    &__icon-size {
        display: flex;
        align-items: center;
        justify-content: center;
        fill: #AFB1B8;
        width: 170px;
        @media screen and(max-width:768px){
            width: 210px;
        }
        height: 92px;
        border: 1px solid #AFB1B8;
        box-sizing: border-box;
        border-radius: 4px;
        transition: border-color 250ms linear, fill 250ms linear;

        &:hover,
        &:focus {
            border-color: $button-color;
            fill: $button-color;
        }
    }

    &__icon {
        width: 106px;
        height: 60px;
    }
}