.box-section {
    display: flex;
    z-index: 80;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;


    @media screen and(max-width:768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Header480.jpg);
        padding: 0;
    }

    @media screen and(min-width:768px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/Header-768.jpg);

    }

    @media screen and(min-width:1200px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main/background-bg.jpg);

    }



    .container {
        padding: 200px 0 200px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (max-width:1200px) {

            padding: 118px 0 118px 0;
        }
    }

    &__text {
        font-family: 'Roboto';
        font-style: normal;
        width: 696px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        margin: 0;
        color: $background-color;

        @media screen and (max-width:1200px) {
            width: 360px;
            font-size: 26px;
            line-height: 42px;


        }



    }

    &__button {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        background: $button-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        color: $background-color;
    }
}