.team-section {
    background: #F5F4FA;
    padding: 94px 0;

    h2 {
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-color;
    }

    & .our-team:nth-child(2) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
        padding: 0;
        list-style: none;
    }
}

.our-team{
    &>li {
        max-width: 270px;
        background: $background-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 120px) / 4);
        background: $background-color;
        box-sizing: border-box;
    }
}

.card{
    &:nth-child(2) {
            text-align: center;
            padding: 30px 0;
        }
    
    &:nth-child(3) {
        padding-bottom: 30px;
    }

    &__link {
        display: flex;
        justify-content: center;

    li {
            margin-right: 10px;
        }

    li:last-child {
        margin-right: 0;
    }
    }

    &__size-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        fill: #AFB1B8;
        transition: background-color 250ms linear, fill 250ms linear;

        &:hover, &:focus {
            background: $button-color;
            fill: $btn-color2;
        }
    }

    &__icon {
        height: 20px;
        width: 20px;
        transition: fill 250ms linear;
    }

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: $text-color;
        margin-bottom: 10px;
    }
    
    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
        color: $second-text;
        margin-bottom: 16px;
    }
}

